In [8]:
import pandas as pd
import numpy
import yfinance as yf

In [2]:
# Fetching historical data

In [3]:
# 81/22 8/1/23
tickers = ['JPM','MS','BAC']
data = yf.download(tickers,start='2022-08-01',end='2023-08-01')['Adj Close']

[*********************100%%**********************]  3 of 3 completed

In [4]:
data

Ticker            BAC         JPM         MS
Date
2022-08-01  31.869623  108.613457  78.671318
2022-08-02  31.236202  106.920692  78.147423
2022-08-03  31.803440  108.042870  79.569473
2022-08-04  31.576546  106.854118  79.859489
2022-08-05  32.105972  110.087517  80.579865
...               ...         ...        ...
2023-07-25  31.220678  153.820053  90.690437
2023-07-26  31.473164  154.742050  89.845200
2023-07-27  31.026461  153.035355  89.086403
2023-07-28  30.977903  153.908310  88.766502
2023-07-31  31.075014  154.938232  88.756805

[251 rows x 3 columns]

In [11]:
data_df = pd.DataFrame(data)
data_df.to_csv('data.csv')

In [12]:
# Calculating daily returns (price_today/price_yesterday -1)

In [54]:
returns = pd.DataFrame()
column_headers = data_df.columns.values
for stock in range(data_df.shape[1]):
    ret = []
    for i in range(data_df.shape[0]):
        if i==0:
            continue
        else:
            ret.append((data_df.iloc[i,stock]/data_df.iloc[i-1,stock])-1)
    returns.insert(stock,column_headers[stock],ret)

In [57]:
returns*100

Ticker           BAC       JPM        MS
Date
2022-08-02 -1.987538 -1.558522 -0.665929
2022-08-03  1.815963  1.049542  1.819702
2022-08-04 -0.713427 -1.100259  0.364482
2022-08-05  1.676645  3.025993  0.902053
2022-08-08 -1.383984 -1.218056 -0.116098
...              ...       ...       ...
2023-07-25 -1.531402 -0.746825 -0.264061
2023-07-26  0.808712  0.599400 -0.932003
2023-07-27 -1.419314 -1.102929 -0.844560
2023-07-28 -0.156503  0.570427 -0.359090
2023-07-31  0.313484  0.669179 -0.010924

[250 rows x 3 columns]

In [ ]:
# Assuming weights

In [ ]:
total_porfolio = 1000000